$primary-color : #0E131F;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Recursive', sans-serif;
    width: 100vw;

    .container {
        min-height: 100vh;
        width: 100%;
        background: url(bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .title {
            width: 100%;
            height: auto;
            background-color: rgba(#fff, 0.3);
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 7%;
            z-index: 2;

            h1 {
                color: $primary-color;
                font-size: 5rem;
                letter-spacing: 5px;
                height: 100%;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .new-todo {
            z-index: 2;
            display: flex;
            min-width: 300px;
            width: 40%;
            height: 50px;
            margin-top: 15vh;

            #newTodo {
                width: 85%;
                border: none;
                outline: none;
                padding: 0.5rem 0.8rem;
                border-radius: 30px 0 0 30px;
                font-size: 1.2rem;
            }

            #addBtn {
                width: 15%;
                height: 100%;
                background: white;
                border: none;
                outline: none;
                cursor: pointer;
                // border-radius: 0 30px 30px 0;
                transition: all 0.2s linear;

                &:hover {
                    background-color: #05204A;

                    i {
                        color: white;
                    }

                }

                i {
                    color: #0E131F;
                    font-size: 2.6rem;
                    transition: all 0.2s linear;
                }

            }
        }

        .list {
            display: flex;
            flex-direction: column;
            height: 60vh;
            background-color: rgba(#fff, 0.5);
            min-width: 300px;
            width: 40%;
            overflow-y: auto;
            box-shadow: 0 20px 20px 0 rgba(#000, 0.7);
            z-index: 2;
            border: 5px solid white;

            .todo {
                display: flex;
                flex-direction: row;
                width: 100%;
                height: auto;
                align-items: center;
                z-index: 2;
                transition: all 0.3s linear;
                border-bottom: 1px white solid;


                &.delete {
                    a:hover {
                        // background-color: rgb(133, 0, 0);

                        i {
                            color: white;
                        }

                    }
                }


                &.active {
                    a:hover {
                        // background-color: rgb(0, 77, 0);

                        i {
                            color: white;
                        }
                    }
                }
            }

            .task {
                width: 80%;
                height: 100%;
                padding: 0.4rem;
                // color: #272727;



                h4 {
                    letter-spacing: 1px;
                    font-size: 1.5rem;
                    margin: 5px 0 1.2rem 0;
                    overflow-wrap: break-word;
                }

                p {
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size: 0.9rem;

                    span {
                        font-weight: bold;
                    }

                }
            }


            a {
                width: 10%;
                height: inherit;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                cursor: pointer;



                i {
                    color: #000;
                    height: 100%;
                    font-size: 2rem;
                    transition: all 0.2s linear;
                }
            }

        }


    }
}

@media screen and (max-width : 1200px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width : 800px) {
    html {
        font-size: 10px;
    }
}